version: '3.8'

services:
  app:
    build: .
    ports:
      - "4000:4000"
    depends_on:
      - minio
    env_file:
      - .env
    volumes:
      - .:/app

  minio:
    image: minio/minio
    container_name: minio-server
    env_file:
      - .env
    ports:
      - "9000:9000"
      - "9001:9001"
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data

  createbucket:
    image: minio/mc
    depends_on:
      - minio
    env_file:
      - .env
    entrypoint: >
      /bin/sh -c "
        sleep 5;
        mc alias set local http://minio:9000 $MINIO_ACCESS_KEY $MINIO_SECRET_KEY;
        mc mb -p local/$MINIO_BUCKET;
        mc policy set public local/$MINIO_BUCKET;
        exit 0;
      "
volumes:
  minio_data: